.record{
    height: 806px;
}

.record .container{
    width: 1000px;
    height: 806px;
    /* border: 1px solid purple; */
}

.record-top{
    float: left;
    height: 70px;
    width: 1000px;
    /* border: 1px solid purple; */
}

.record-top span{
    display: inline-block;
    position: relative;
    top: -28px;
    font-size: 20px;
}

.record-center{
    float: left;
    height: 462px;
    width: 1000px;
    /* border: 1px solid purple; */
}

.record-center-left{
    float: left;
    width: 520px;
    height: 343px;
    /* border: 1px solid purple; */
    margin-top: 73px;
}

.record-center-right{
    float: right;
    width: 376px;
    height: 450px;
    /* border: 1px solid purple; */
    margin-top: 12px;
}

.record-center-right li{
    list-style-type: none;
}



.record-center-right-top{
    float: left;
    width: 476px;
    height: 38px;
    /* border: 1px solid blue; */
    box-sizing: border-box;
    padding-top: 7px;
}

.record-center-right-top a{
    text-decoration: none;
}

.record-center-right-bottom{
    float: left;
    width: 412px;
    height: 409px;
    border-top: 2px solid #69af05;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    margin-left: -75px;
}

.record-center-right-top span{
    display: inline-block;
    font-size: 21px;
    width: 60px;
    height: 27px;
    /* border: 1px solid red; */
    /* background-color: yellow; */
    margin-right: 194px;
    position: relative;
    left: -73px;
}



.record-center-right li:nth-child(1){
    width: 432px;
    height: 27px;
    /* border: 1px solid gold; */
    line-height: 27px;
    font-size: 13px;
}

.record-center-right li:nth-child(1) span{
    font-size: 14px;
    color: #7a7a7a;
}

.record-center-right li:nth-child(2){
    border: 1px solid red;
    width: 348px;
    height: 24px;
    font-size: 12px;
    color: rgb(255, 68, 34);
    background: rgb(253, 239, 236);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255, 182, 169);
    border-image: initial;
    margin-left: 22px;
}

.record-center-right li:nth-child(2) span{
    display: inline-block;
    /* border: 1px solid; */
    position: relative;
    top: -5px;
    
}

.record-center-right li:nth-child(2) a{
    color: red;
    text-decoration: none;
}

.record-center-right-bottom .one{
    width: 344px;
    height: 44px;
    border: 1px solid #666;
    margin-left: 22px;
    margin-top: 26px;
}

.record-center-right-bottom .one img{
    width: 40px;
    height: 44px;
}
.record-center-right-bottom .one div{
    float: left;
    width: 40px;
    height: 44px;
    border-right: 1px solid #7f7f7f;
}
.record-center-right-bottom .one input{
    float: left;
    height: 44px;
    width: 303px;
    line-height: 45px;
    box-sizing: border-box;
    padding-left: 10px;
    border: none;
}

.record-center-right-bottom .two{
    width: 344px;
    height: 44px;
    border: 1px solid #666;
    margin-left: 22px;
    margin-top: 10px;
}

.record-center-right-bottom .two img{
    width: 40px;
    height: 44px;
}
.record-center-right-bottom .two div{
    float: left;
    width: 40px;
    height: 44px;
    border-right: 1px solid #7f7f7f;

}
.record-center-right-bottom .two input{
    float: left;
    height: 44px;
    width: 183px;
    line-height: 45px;
    box-sizing: border-box;
    padding-left: 10px;
    border: none;
}

.record-center-right-bottom .two span{
    display: inline-block;
    width: 113px;
    height: 30px;
    text-align: center;
    /* border: 1px solid blueviolet; */
    line-height: 30px;
    margin-top: 7px;
    margin-left: 5px;
    font-size: 14px;
    color: #afafaf;
}

.record-bottom{
    float: left;
    height: 110px;
    width: 1000px;
    /* border: 1px solid purple; */
}

.record-center-right-bottom .three{
    margin-top: 51px;
    margin-left: 17px;
    font-size: 14px;
}

.record-center-right-bottom .three a{
    color: #69af05;
    text-decoration: none;
    font-size: 14px;
}

.record-center-right-bottom .three span{
    color: #7a7a7a;
}

.record-center-right-bottom .fore{
    margin-left: 17px;
    margin-top: 20px;
    width: 367px;
    height: 39px;
    background-color: #69af05;
    font-size: 19px;
    line-height: 39px;
    text-align: center;
}

.record-center-right-bottom .fore a{
    color:#fff;
    text-decoration: none;
}

.record-center-right-bottom .five{
    margin-top: 20px;
    margin-left: 17px;
}

.record-center-right-bottom .five a{
    text-decoration: none;
    font-size: 14px;
    color: #666;
}

.record-center-right-bottom .six{
    margin-top: 10px;
    margin-left: 17px;
    border-top: 1px solid #f8f8f8;
    height: 33px;
    box-sizing: border-box;
    padding-top: 10px;

}

.record-center-right-bottom .six span{
    font-size: 15px;
    display: inline-block;
    margin-right: 0px;
    border-right: 1px solid #f8f8f8;
    width: 90px;
    box-sizing: border-box;
    padding-left: 15px;
}

.record-center-right-bottom .six a{
    text-decoration: none;
}

.record-bottom{
    float: left;
    width: 1000px;
    height: 270px;
    /* border: 1px solid red; */
}

.record-bottom ul{
    list-style-type: none;
}

.record-bottom li:nth-child(1){
    margin-left: 30px;
    height: 20px;
    margin-left: 303px;
    margin-top: 70px;
    margin-bottom: 10px;

}

.record-bottom li:nth-child(1) a{
    font-size: 14px;
    
}

.record-bottom li:nth-child(2){
    text-align: center;
    font-size: 14px;
    color: #666;
}

.record-bottom a{
    text-decoration: none;
    color: #666;
}