/* 顶部导航 */
.topnav{
    height: 43px;
    background-color: #f7f7f7;
    /* border: 1px solid red; */
}

.topnav-left{
    float: left;
    line-height: 43px;
    color: #999;
    font-size: 12px;
}

.topnav-left p{
    float: left;
    margin-top: 0;
    margin-bottom: 0;
    box-sizing: border-box;
}
.topnav-left span{
    float: left;
}
.topnav-left i{
    float: left;
}

.topnav-left i{
    display: inline-block;
    margin-top: -2px;
}

.topnav-left div{
    float: left;
    height: 15px;
    width: 46px;
    border: 1px solid #dcdcdc;
    line-height: 14px;
    margin-top: 13px;
    background-color: #f7f7f7;
}
.topnav-right li{
    float:left;
    list-style-type: none;
    color: #999;
    font-size: 12px;
}

.topnav-right ul{
    float: right;
    margin-top: 0;
    margin-bottom: 0;
    box-sizing: border-box;
    padding-top: 13px;
}

/* 问题一            超链接下划线的删去 */
.topnav-right a{
    text-decoration: none;
    color: #999;
}

.topnav-right li:nth-child(n+3):nth-child(-n+4){
    margin-right: 34px;
}

.topnav-right li:nth-child(n+8):nth-child(-n+9){
    margin-right: 34px;
}

.topnav-right-last1{
    width: 20px;
    height: 18px;
    background-image: url(../img/little-one.png);
    background-repeat: no-repeat;
    background-position: -55px 1px;
}

.topnav-right-last2{
    width: 18px;
    height: 19px;
    background-image: url(../img/little-one.png);
    background-repeat: no-repeat;
    background-position: -73px 2px;
}

.topnav-right-last3{

    width: 17px;
    height: 25px;
    background-image: url(../img/little-one.png);
    background-repeat: no-repeat;
    background-position: -83px -122px;
}

.topnav-right-last4{

    width: 17px;
    height: 25px;
    background-image: url(../img/little-one.png);
    background-repeat: no-repeat;
    background-position: -83px -122px;
}

.topnav-right-last5{

    width: 13px;
    height: 19px;
    background-image: url(../img/little-one.png);
    background-repeat: no-repeat;
    background-position: -71px -119px;
    position: relative;
    top: -5px;
}

.topnav-right-last6{

    width: 17px;
    height: 25px;
    background-image: url(../img/little-one.png);
    background-repeat: no-repeat;
    background-position: -83px -122px;
}

.topnav-left-first{
    float: left;
    width: 17px;
    height: 25px;
    background-image: url(../img/little-one.png);
    background-repeat: no-repeat;
    background-position: -83px -122px;
}

/* 二搜索 */
.search{
    height: 100px;
    /* border: 1px solid blueviolet; */
}

.search-left{
    float: left;
    margin-top: 22px;
    margin-left: 170px;
}

.search-left{
    margin-top: 5px;
    margin-left: 0;
}

.search-center{
    float: left;
    margin-top: 10px;
    margin-left: 50px;
}

.search-center input{
    float: left;
    width: 431px;
    height: 36px;
    box-sizing: border-box;
    /* border: 1px solid #669900; */
    border-right: 0;
    margin-top: 20px;
    margin-left: 100px;
}

.search-center button{
    float: left;
    width: 80px;
    height: 36px;
    /* background-color: #669900; */
    margin-top: 20px;
    border: none;
}

.search-center span{
    position: absolute;
    top: 38px;
    left: 384px;
}

.search-hot{
    margin-left: 100px;
    font-size: 14px;
}
.search-hot a{
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    margin-right: 10px;
    color: #999;
}

.search-right{
    float: right;
}

.search-right span{
    display: inline-block;
    width: 117px;
    height: 34px;
    /* border: 1px solid green; */
    font-size: 14px;
    line-height: 34px;
    margin-top: 30px;
    margin-right: 34px;
    padding-left: 38px;
}

.search-right p{
    width: 34px;
    height: 36px;
    line-height: 34px;
    position: absolute;
    left: 1165px;
    top: 30px;
    background-color: #fa9600;
    color: #fff;
    box-sizing: border-box;
    padding-left: 12px;
}

.search-top-right-first{
    width: 24px;
    height: 23px;
    background-image: url(../img/微信图片_20191127163804.png);
    background-repeat: no-repeat;
    background-position: -54px -16px;
    position: absolute;
    top: 39px;
    left: 1010px;
    display: inline-block;
}

.list{
    height: 32px;
    /* border: 1px solid gold; */
}

.list-box-left{
    float: left;
    width: 198px;
    height: 32px;
    /* border: 1px solid red; */
    background-color: #669900;
    text-align: center;
    line-height: 32px;
    color: #fff;
}
.list-box-center{
    float: left;
    width: 500px;
    height: 32px;
}

.list-box-center li{
    float: left;
    width: 76px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    /* border: 1px solid palevioletred; */
    margin-left: 30px;
    list-style-type: none;
}

.list-box-center li:nth-child(n+1){
    color: #669900;
}

.list-box-right{
    float: right;
}

/* 补 */
.all{
    height: 480px;
    /* border:  1px solid gold; */
}

.all .container{
    width: 1200px;
    height: 480px;
    /* border:  1px solid gold; */
}

.all-left{
    width: 198px;
    height: 480px;
    float: left;
    /* border:  1px solid gold; */
    background-color: #76ac25;
}

.all-left-left{
    float: left;
}

.all-left-right{
    float: left;
  
}

.all-left-right div{
    /* float: left; */
    width: 167px;
    height: 50px;
    /* border:  1px solid gold; */
  box-sizing: border-box;
  padding-left: 5px;
   
    margin-bottom: 10px;
    
}

.all-left-right li{
    display: inline-block;
}

.all-left-right span{
    display: inline-block;
    margin-top: 10px;
    font-size: 16px;
}

.all-left-right a{
    color: #fff;
}

.all-left-right ul{
    margin-top: 5px;
   
}








.come{
    width: 100%;
    height: 33px;
    /* text-align: center; */
    /* position: relative; */
    /* z-index: 101; */
    /* padding: 0px; */
    background: #f7f7f7;
    /* border: 1px solid #f11919; */
}

.come .container{
    width: 1200px;
    height: 33x;
    /* border: 1px solid black; */
}

.come a{
    text-decoration: none;
    color: #666666;
}

.come span {
    font-family: "宋体";
    display: inline-block;
    font-size: 12px;
}

.customer-service{
    display: inline-block;
    margin-left: 640px;
}


/* 信息 */
.news{
    height: 400px;
}

.news .container{
    width: 1200px;
    height: 400px;
    /* border: 1px solid green; */
}


.news a{
    text-decoration: none;
}

.news-left {
    float: left;
    width: 186px;
    height: 398px;
    border: 1px solid #e8e8e8;
}


.news-left-up{
    width: 184px;
    height: 187px;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 11px;
}


.news-left-up h2{
    float: left;
    width: 186px;
    height: 30px;
    border: 1px solid #e8e8e8;
    line-height: 30px;
    font-size: 15px;
    font-weight: normal;
    color: #666666;
    background-color: #f4f4f4;
    box-sizing: border-box;
    padding-left: 5px;
}

.news-left-up strong{
    width: 186px;
    height: 22px;
    /* border: 1px solid #e8e8e8; */
}

.news-left-up .bigbox{
    width: 186px;
    height: 134px;
    /* border: 1px solid #e8e8e8; */
}

.news-left-up .boxleft {
    float: left;
    width: 76px;
    height: 134px;
    /* border: 1px solid #e8e8e8; */
}

.news-left-up .boxright{
    float: left;
    width: 105px;
    height: 134px;
    /* border: 1px solid #e8e8e8; */
  
}

.news-left-up a{
    display: inline-block;
    margin-top: 10px;
    color: #565656;
    font-size: 14px;
    margin-left: 8px;
}

.news-left-center{
    border-bottom:1px solid #e8e8e8 ;
}


.news-left-center h2{
    float: left;
    width: 187px;
    height: 30px;
    border: 1px solid #e8e8e8;
    line-height: 30px;
    font-size: 15px;
    font-weight: normal;
    color: #666666;
    background-color: #f4f4f4;
    box-sizing: border-box;
    padding-left: 5px;
}


.news-center-center .bigbox{
    width: 186px;
    height: 83px;
    /* border: 1px solid #e8e8e8; */
}

.news-left-center .boxleft {
    float: left;
    width: 73px;
    height: 83px;
    /* border: 1px solid #e8e8e8; */
}

.news-left-center .boxright{
    float: left;
    width: 105px;
    height: 83px;
    /* border: 1px solid #e8e8e8; */
  
}

.news-left-center a{
    display: inline-block;
    margin-top: 10px;
    color: #565656;
    font-size: 14px;
    margin-left: 5px;
}

.news-left-down1{
    width: 186px;
    height: 30px;
    border: 1px solid #e8e8e8;
    margin-top: 10px;
    background-color: #f5f5f5;
}

.news-left-down1 h2{
    font-size: 14px;
    color: #565656;
    line-height: 30px;
    margin-left: 8px;
    font-weight: normal;
}

.news-left-down2{
    width: 186px;
    height: 30px;
    border: 1px solid #e8e8e8;
    margin-top: 10px;
    background-color: #f5f5f5;
}

.news-left-down2 h2{
    font-size: 14px;
    color: #565656;
    line-height: 30px;
    margin-left: 8px;
    font-weight: normal;
}

.news-right{
    float: left;
    width: 1010px;
    height: 10413px;
    /* border: 1px solid red; */
}

.news-right-up{
    width: 997px;
    height: 36px;
    margin-left: 11px;
    border: 1px solid #e8e8e8;
}

.news-right-up li{
    display: inline-block;
    width: 100px;
    height: 36px;
    border-right: 1px solid #e8e8e8;
    line-height: 36px;
    text-align: center;
}

.news-right-up ul{
    float: left;
}
.news-right-up div{
    float: right;
    width: 100px;
    height: 36px;
    border-left: 1px solid #e8e8e8;
    line-height: 36px;
    text-align: center;
}



.news-right-up a{
    color: #565656;
}

.news-right-down{
    float: left;
    width: 980px;
    height: 500px;
    /* border: 1px solid red; */
    margin-left: 29px;
    margin-top: 20px;
}

.news-right-down ul{
    background-color: #f5f5f5;
}

.news-right-down li{
    display: inline-block;
    width: 402px;
    height: 28px;
    line-height: 28px;
    /* border: 1px solid red; */
}

.news-right-down .word{
    box-sizing: border-box;
    padding-top: 20px;
    background-color: #f5f5f5;
}

.news-right-down strong{
    font-weight: normal;
    width: 100px;
    text-align: right;
    display: block;
    float: left;
    height: 20px
}

.news-right-down span:nth-child(1){
    font-weight: normal;
    width: 100px;
    text-align: right;
    display: block;
    float: left;
    height: 20px;
}

.news-right-down span:nth-child(3){
    font-weight: normal;
    width: 100px;
    text-align: right;
    display: block;
    float: left;
    height: 20px;
}

.news-right-down span:nth-child(2){
    display: block;
    overflow: hidden;
    width: 878px;
    height: 40px;
    /* border: 1px solid red; */
    margin-top: 0px;
    font-size: 12;
    font-size: 12px;
    box-sizing: border-box;
    padding-left: 10px;
}

.news-right-down span:nth-child(4){
    display: block;
    overflow: hidden;
    width: 878px;
    height: 60px;
    /* border: 1px solid red; */
    box-sizing: border-box;
    padding-left: 10px;
}

.news-right-down .please{
    width: 856px;
    height: 28px;
    background-color: #fff;
    padding: 4px 20px 4px 0px;
    line-height: 20px;
}

.news-right-down .please a{
    color: #69ac25;
}

/* 售后用户回馈 */
.user{
    height: 134px;
}

.user .container{
    width: 1200px;
    height: 134px;
    /* border: 1px solid red; */
}

.user-box{
    float: left;
    width: 1010px;
    height: 134px;
    /* border: 1px solid red; */
    margin-left: 188px;
}

.user-box .one{
float: left;
}

.user-box h3{
    width: 1010px;
    height: 30px;
    background-color: #e8e8e8;
    line-height: 30px;
    font-family: 宋体;
    font-weight: bold;
    font-size: 14px;
    text-indent: 10px;
}

.user-box .s01{
    font-size: 48px;
    font-family: 微软雅黑;
    color: rgb(214, 43, 43);
    width: 280px;
    height: 68px;
    /* border: 1px solid gold; */
    display: inline-block;
    text-align: center;
    margin-right: 26px;
    line-height: 68px;
}

.user-box .s02{
    font-size: 14px;
    color: #72797e;
    display: inline-block;
    margin-left: 121px;
}



.user-box .two{
    float: left;
    width: 315px;
    height: 92px;
    border-right: 1px  dashed #dfdfdf;
    margin-left: 10px;
    margin-top: 5px;
    border-left: 1px  dashed #dfdfdf;
    box-sizing: border-box;
    padding-top: 42px;
    padding-left: 82px;
}

.user-box .three{
    float: left;
    width: 331px;
    height: 102px;
    /* border: 1px solid red; */
    margin-left: 31px;
}

.user-box .three div:nth-child(1){
    width: 100px;
    height: 30px;
    border: 1px solid #8ec319;
    border-radius: 3px;
    text-align: center;
    font-size: 12px;
    color: #8ec319;
    line-height: 30px;
    margin-top: 15px;
    background-color: #8ec319;
    margin-left: 82px;
}

.user-box .three div:nth-child(1) a{
    color: #fff;
}

.user-box .three div:nth-child(2){
    display: block;
    width: 183px;
    height: 12px;
    /* border: 1px solid red; */
    margin-top: 15px;
    margin-left: 81px;
}

.user-box .three div:nth-child(2) a{
    display: inline-block;
    margin-top: 13px;
}

/* 晒单列表 */
.list{
    height: 53px;
}

.list .container{
   
    width: 1200px;
    height: 53px;
    
}

.list-box{
    float: left;
    width: 1021px;
    height: 53px;
    border-bottom: 1px solid #666666;
    box-sizing: border-box;
    padding-top: 30px;
    padding-left: 1px;
    margin-left: 185px;
}

.list-box h3{
    width: 115px;
    height: 16px;
    /* border: 1px solid #666666; */
    display: inline-block;
    font-size: 16px;
   
}

.list-box a{
    font-size: 16px;
    color: #666;
    font-weight: 100;
}

/* 晒单 */
.sun{
    height: 106px;
}

.sun .container{
    height: 106px;
    width: 1200px;
}

.sun-box{
    float: left;
    height: 106px;
    width: 1018px;
    /* border: 1px solid green; */
    margin-left: 186px;
}

.sun-box .sun-left{
    float: left;
    width: 100px;
    height: 100px;
    /* border: 1px solid green; */
    box-sizing: border-box;
    padding-top: 30px;
}


.sun-box .sun-left img{
    width: 25px;
    height: 25px;
    border: none;
    float: left;
}

.sun-box .sun-left span{
    display: inline-block;
    width: 58px;
    height: 25px;
    /* border: 1px solid green; */
    padding-top: 7px;
    box-sizing: border-box;
    padding-left: 5px;
}

.sun-box .sun-left div{
    margin-top: 5px;
    margin-left: 1px;
}

.sun-box .sun-right{
    float: left;
    width: 916px;
    height: 100px;
    /* border: 1px solid green; */
}

.sun-box .sun-right .sun-right-up{
    width: 914px;
    height: 30px;
    /* border: 1px solid goldenrod; */
}

.sun-box .sun-right .sun-right-up img{
    margin-top: 10px;
    margin-left: 24px;
}



.sun-box .sun-right .sun-right-up a{
    margin-left: 555px;
    /* margin-top: -47px; */
    position: relative;
    top: -4px;
}
.sun-box .sun-right .sun-right-up div{
    float: right;
    margin-top: 15px;
}

.sun-box .sun-right .sun-right-up span{
    position: relative;
    top: -4px;
}

.sun-right .sun-right-center{
    width: 916px;
    height: 14px;
    /* border: 1px solid green; */
    box-sizing: border-box;
    padding-left: 24px;
}

.sun-right .sun-right-down{
    margin-left: 15px;
    margin-top: 10px;
}

.sun-right .and{
    margin-left: 5px;
}

/* 晒单二 */
.sun2{
    height: 174px;
}

.sun2 .container{
    height: 174px;
    width: 1200px;
}

.sun2-box{
    float: left;
    height: 174px;
    width: 1018px;
    /* border: 1px solid green; */
    margin-left: 186px;
}

.sun2-box .sun2-left{
    float: left;
    width: 100px;
    height: 100px;
    /* border: 1px solid green; */
    box-sizing: border-box;
    padding-top: 30px;
}

.sun2-box .sun2-left img{
    width: 25px;
    height: 25px;
    border: none;
    float: left;
}

.sun2-box .sun2-left span{
    display: inline-block;
    width: 58px;
    height: 25px;
    /* border: 1px solid green; */
    padding-top: 7px;
    box-sizing: border-box;
    padding-left: 5px;
}

.sun2-box .sun-left div{
    margin-top: 5px;
    margin-left: 1px;
}

.sun2-box .sun2-right{
    float: left;
    width: 916px;
    height: 100px;
    /* border: 1px solid green; */
}


.sun2-box .sun2-right .sun2-right-up{
    width: 914px;
    height: 30px;
    /* border: 1px solid goldenrod; */
}

.sun2-box .sun2-right .sun2-right-up img{
    margin-top: 10px;
    margin-left: 24px;
}



.sun2-box .sun2-right .sun2-right-up a{
    margin-left: 555px;
    /* margin-top: -47px; */
    position: relative;
    top: -4px;
}
.sun2-box .sun2-right .sun2-right-up div{
    float: right;
    margin-top: 15px;
}

.sun2-box .sun2-right .sun2-right-up span{
    position: relative;
    top: -4px;
}

.sun2-right .sun2-right-center{
    width: 916px;
    height: 14px;
    /* border: 1px solid green; */
    box-sizing: border-box;
    padding-left: 24px;
}

.sun2-right .sun2-right-down{
    margin-left: 15px;
    margin-top: 10px;
    position: relative;
    top: 10px;
}

.sun2-right .and{
    margin-left: 5px;
}

.sun2-right .fruit img{
    width: 52px;
    height: 52px;
    position: relative;
    top: 7px;
    left: 18px;
}

/* 晒单三 */

.sun3{
    height: 106px;
}

.sun3 .container{
    height: 106px;
    width: 1200px;
}

.sun3-box{
    float: left;
    height: 106px;
    width: 1018px;
    /* border: 1px solid green; */
    margin-left: 186px;
}

.sun3-box .sun3-left{
    float: left;
    width: 100px;
    height: 100px;
    /* border: 1px solid green; */
    box-sizing: border-box;
    padding-top: 30px;
}


.sun3-box .sun3-left img{
    width: 25px;
    height: 25px;
    border: none;
    float: left;
}

.sun3-box .sun3-left span{
    display: inline-block;
    width: 58px;
    height: 25px;
    /* border: 1px solid green; */
    padding-top: 7px;
    box-sizing: border-box;
    padding-left: 5px;
}

.sun3-box .sun3-left div{
    margin-top: 5px;
    margin-left: 1px;
}

.sun3-box .sun3-right{
    float: left;
    width: 916px;
    height: 100px;
    /* border: 1px solid green; */
}

.sun3-box .sun-right .sun3-right-up{
    width: 914px;
    height: 30px;
    /* border: 1px solid goldenrod; */
}

.sun3-box .sun-right .sun3-right-up img{
    margin-top: 10px;
    margin-left: 24px;
}



.sun3-box .sun-right .sun3-right-up a{
    margin-left: 555px;
    /* margin-top: -47px; */
    position: relative;
    top: -4px;
}
.sun3-box .sun3-right .sun3-right-up div{
    float: right;
    margin-top: 15px;
}

.sun3-box .sun3-right .sun3-right-up span{
    position: relative;
    top: -4px;
}

.sun3-right .sun3-right-center{
    width: 916px;
    height: 14px;
    /* border: 1px solid green; */
    box-sizing: border-box;
    padding-left: 24px;
}

.sun3-right .sun3-right-down{
    margin-left: 15px;
    margin-top: 10px;
}

.sun3-right .and{
    margin-left: 5px;
}



/* 晒单四 */

.sun4{
    height: 106px;
}

.sun4 .container{
    height: 106px;
    width: 1200px;
}

.sun4-box{
    float: left;
    height: 106px;
    width: 1018px;
    /* border: 1px solid green; */
    margin-left: 186px;
}

.sun4-box .sun4-left{
    float: left;
    width: 100px;
    height: 100px;
    /* border: 1px solid green; */
    box-sizing: border-box;
    padding-top: 30px;
}


.sun4-box .sun4-left img{
    width: 25px;
    height: 25px;
    border: none;
    float: left;
}

.sun4-box .sun4-left span{
    display: inline-block;
    width: 58px;
    height: 25px;
    /* border: 1px solid green; */
    padding-top: 7px;
    box-sizing: border-box;
    padding-left: 5px;
}

.sun3-box .sun3-left div{
    margin-top: 5px;
    margin-left: 1px;
}

.sun4-box .sun4-right{
    float: left;
    width: 916px;
    height: 100px;
    /* border: 1px solid green; */
}

.sun4-box .sun4-right .sun4-right-up{
    width: 914px;
    height: 30px;
    /* border: 1px solid goldenrod; */
}

.sun4-box .sun4-right .sun4-right-up img{
    margin-top: 10px;
    margin-left: 24px;
}



.sun4-box .sun4-right .sun4-right-up a{
    margin-left: 555px;
    /* margin-top: -47px; */
    position: relative;
    top: -4px;
}
.sun4-box .sun4-right .sun4-right-up div{
    float: right;
    margin-top: 15px;
}

.sun4-box .sun4-right .sun4-right-up span{
    position: relative;
    top: -4px;
}

.sun4-right .sun4-right-center{
    width: 916px;
    height: 14px;
    /* border: 1px solid green; */
    box-sizing: border-box;
    padding-left: 24px;
}

.sun4-right .sun4-right-down{
    margin-left: 15px;
    margin-top: 10px;
}

.sun4-right .and{
    margin-left: 5px;
}

/*  十六售后服务 */
.after{
    height: 170px;
    /* border: 1px solid plum; */
}

.after .container{
    width: 1200px;
    height: 170px;
    /* border: 1px solid plum; */
}

.after-left{
    float: left;
    width: 290px;
    height: 170px;
    /* border: 1px solid plum; */
}

.after-center{
    float: left;
    width: 600px;
    height: 170px;
    /* border: 1px solid plum; */
}

.after-center ul{
    float: left;
    width: 118px;
    height: 170px;
    /* border: 1px solid plum; */
}

.after-right {
    float: left;
    width: 304px;
    height: 170px;
    /* border: 1px solid plum; */
    box-sizing: border-box;
    padding-top: 26px;
    padding-left: 21px;
}




.after-left-up{
    margin-top: 10px;
}

.after-left-down li{
    font-size: 30px;
    margin-top: 16px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.after-left-down span{
    display: inline-block;
    margin-left: 5px;
}

.after-center .title{
    color: #707070;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 36px;
}

.after-center a{
    color:#707070;
    display: inline-block;
    margin-bottom: 10px;
}

.after-center a:hover{
    color: #96ac25;
}

.after-right li{
    float: left;
    width: 130px;
    height: 120px;
    /* border: 1px solid plum; */
    box-sizing: border-box;
    padding-top: 13px;
    padding-left: 18px;
}

.after-right span{
    font-weight: bold;
    margin-left: 10px;
}

/* 十七底部 */
.foot{
    height: 66px;
    /* border:  1px solid gold; */
}

.foot .container{
    width: 1200px;
    height: 66px;
    /* border:  1px solid gold; */
}

.foot-left{
    float: left;
    width: 291px;
    height: 66px;
    /* border: 1px solid gold; */
    box-sizing: border-box;
    padding-top: 18px;
}

.foot-left img{

    margin-right: 3px;
   /* float: left; */
}
.foot-left a {
    float: left;
    /* position: relative; */
    width: 94px;
    height: 33px;
}

.foot-left a:nth-child(1):hover {
    width: 128px;
    height: 46px;
}

.foot-left a:nth-child(1):hover img{
    margin-top: -6px;
    margin-left: -17px;
    width: 128px;
    height: 46px;
}

.foot-left a:nth-child(1):hover+a:nth-child(2) {
    padding-left: 94px;
}

.foot-left a:nth-child(1):hover {
    position: absolute;
    
}

/* .foot-left span a img:hover{
    width: 126px;
    height: 43px;
    position: absolute;
    top: 0;
    left: 0;
    float: left;
} */

.foot-right{
    float: left;
    width: 907px;
    height: 66px;
    /* border: 1px solid gold; */
    box-sizing: border-box;
    padding-top: 18px;
}

.foot-right a{
    margin-left: 5px;
}

.foot-right a:hover{
    color: #76ac25;
}


