.come{
    width: 100%;
    height: 33px;
    /* text-align: center; */
    /* position: relative; */
    /* z-index: 101; */
    /* padding: 0px; */
    background: #f7f7f7;
    /* border: 1px solid #f11919; */
}

.come .container{
    width: 1200px;
    height: 33x;
    /* border: 1px solid black; */
}

.come a{
    text-decoration: none;
    color: #666666;
}

.come span {
    font-family: "宋体";
    display: inline-block;
    font-size: 12px;
}

.customer-service{
    display: inline-block;
    margin-left: 640px;
}


/* 信息 */
.news{
    height: 400px;
}

.news .container{
    width: 1200px;
    height: 400px;
    /* border: 1px solid green; */
}


.news a{
    text-decoration: none;
}

.news-left {
    float: left;
    width: 186px;
    height: 398px;
    border: 1px solid #e8e8e8;
}


.news-left-up{
    width: 184px;
    height: 187px;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 11px;
}


.news-left-up h2{
    float: left;
    width: 186px;
    height: 30px;
    border: 1px solid #e8e8e8;
    line-height: 30px;
    font-size: 15px;
    font-weight: normal;
    color: #666666;
    background-color: #f4f4f4;
    box-sizing: border-box;
    padding-left: 5px;
}

.news-left-up strong{
    width: 186px;
    height: 22px;
    /* border: 1px solid #e8e8e8; */
}

.news-left-up .bigbox{
    width: 186px;
    height: 134px;
    /* border: 1px solid #e8e8e8; */
}

.news-left-up .boxleft {
    float: left;
    width: 76px;
    height: 134px;
    /* border: 1px solid #e8e8e8; */
}

.news-left-up .boxright{
    float: left;
    width: 105px;
    height: 134px;
    /* border: 1px solid #e8e8e8; */
  
}

.news-left-up a{
    display: inline-block;
    margin-top: 10px;
    color: #565656;
    font-size: 14px;
    margin-left: 8px;
}

.news-left-center{
    border-bottom:1px solid #e8e8e8 ;
}


.news-left-center h2{
    float: left;
    width: 187px;
    height: 30px;
    border: 1px solid #e8e8e8;
    line-height: 30px;
    font-size: 15px;
    font-weight: normal;
    color: #666666;
    background-color: #f4f4f4;
    box-sizing: border-box;
    padding-left: 5px;
}


.news-center-center .bigbox{
    width: 186px;
    height: 83px;
    /* border: 1px solid #e8e8e8; */
}

.news-left-center .boxleft {
    float: left;
    width: 73px;
    height: 83px;
    /* border: 1px solid #e8e8e8; */
}

.news-left-center .boxright{
    float: left;
    width: 105px;
    height: 83px;
    /* border: 1px solid #e8e8e8; */
  
}

.news-left-center a{
    display: inline-block;
    margin-top: 10px;
    color: #565656;
    font-size: 14px;
    margin-left: 5px;
}

.news-left-down1{
    width: 186px;
    height: 30px;
    border: 1px solid #e8e8e8;
    margin-top: 10px;
    background-color: #f5f5f5;
}

.news-left-down1 h2{
    font-size: 14px;
    color: #565656;
    line-height: 30px;
    margin-left: 8px;
    font-weight: normal;
}

.news-left-down2{
    width: 186px;
    height: 30px;
    border: 1px solid #e8e8e8;
    margin-top: 10px;
    background-color: #f5f5f5;
}

.news-left-down2 h2{
    font-size: 14px;
    color: #565656;
    line-height: 30px;
    margin-left: 8px;
    font-weight: normal;
}

.news-right{
    float: left;
    width: 1010px;
    height: 10413px;
    border: 1px solid red;
}

.news-right-up{
    width: 997px;
    height: 36px;
    margin-left: 11px;
    border: 1px solid #e8e8e8;
}

.news-right-up li{
    display: inline-block;
    width: 100px;
    height: 36px;
    border-right: 1px solid #e8e8e8;
    line-height: 36px;
    text-align: center;
}

.news-right-up ul{
    float: left;
}
.news-right-up div{
    float: right;
    width: 100px;
    height: 36px;
    border-left: 1px solid #e8e8e8;
    line-height: 36px;
    text-align: center;
}



.news-right-up a{
    color: #565656;
}

.news-right-down{
    float: left;
    width: 980px;
    height: 500px;
    /* border: 1px solid red; */
    margin-left: 29px;
    margin-top: 20px;
}

.news-right-down ul{
    background-color: #f5f5f5;
}

.news-right-down li{
    display: inline-block;
    width: 402px;
    height: 28px;
    line-height: 28px;
    /* border: 1px solid red; */
}

.news-right-down .word{
    box-sizing: border-box;
    padding-top: 20px;
    background-color: #f5f5f5;
}

.news-right-down strong{
    font-weight: normal;
    width: 100px;
    text-align: right;
    display: block;
    float: left;
    height: 20px
}

.news-right-down span:nth-child(1){
    font-weight: normal;
    width: 100px;
    text-align: right;
    display: block;
    float: left;
    height: 20px;
}

.news-right-down span:nth-child(3){
    font-weight: normal;
    width: 100px;
    text-align: right;
    display: block;
    float: left;
    height: 20px;
}

.news-right-down span:nth-child(2){
    display: block;
    overflow: hidden;
    width: 878px;
    height: 40px;
    /* border: 1px solid red; */
    margin-top: 0px;
    font-size: 12;
    font-size: 12px;
    box-sizing: border-box;
    padding-left: 10px;
}

.news-right-down span:nth-child(4){
    display: block;
    overflow: hidden;
    width: 878px;
    height: 60px;
    /* border: 1px solid red; */
    box-sizing: border-box;
    padding-left: 10px;
}

.news-right-down .please{
    width: 856px;
    height: 28px;
    background-color: #fff;
    padding: 4px 20px 4px 0px;
    line-height: 20px;
}

.news-right-down .please a{
    color: #69ac25;
}

/* 售后用户回馈 */
.user{
    height: 134px;
}

.user .container{
    width: 1200px;
    height: 134px;
    /* border: 1px solid red; */
}

.user-box{
    float: left;
    width: 1010px;
    height: 134px;
    /* border: 1px solid red; */
    margin-left: 188px;
}

.user-box .one{
float: left;
}

.user-box h3{
    width: 1010px;
    height: 30px;
    background-color: #e8e8e8;
    line-height: 30px;
    font-family: 宋体;
    font-weight: bold;
    font-size: 14px;
    text-indent: 10px;
}

.user-box .s01{
    font-size: 48px;
    font-family: 微软雅黑;
    color: rgb(214, 43, 43);
    width: 280px;
    height: 68px;
    /* border: 1px solid gold; */
    display: inline-block;
    text-align: center;
    margin-right: 26px;
    line-height: 68px;
}

.user-box .s02{
    font-size: 14px;
    color: #72797e;
    display: inline-block;
    margin-left: 121px;
}



.user-box .two{
    float: left;
    width: 315px;
    height: 92px;
    border-right: 1px  dashed #dfdfdf;
    margin-left: 10px;
    margin-top: 5px;
    border-left: 1px  dashed #dfdfdf;
    box-sizing: border-box;
    padding-top: 42px;
    padding-left: 82px;
}

.user-box .three{
    float: left;
    width: 331px;
    height: 102px;
    /* border: 1px solid red; */
    margin-left: 31px;
}

.user-box .three div:nth-child(1){
    width: 100px;
    height: 30px;
    border: 1px solid #8ec319;
    border-radius: 3px;
    text-align: center;
    font-size: 12px;
    color: #8ec319;
    line-height: 30px;
    margin-top: 15px;
    background-color: #8ec319;
    margin-left: 82px;
}

.user-box .three div:nth-child(1) a{
    color: #fff;
}

.user-box .three div:nth-child(2){
    display: block;
    width: 183px;
    height: 12px;
    /* border: 1px solid red; */
    margin-top: 15px;
    margin-left: 81px;
}

.user-box .three div:nth-child(2) a{
    display: inline-block;
    margin-top: 13px;
}

/* 晒单列表 */
.list{
    height: 53px;
}

.list .container{
   
    width: 1200px;
    height: 53px;
    
}

.list-box{
    float: left;
    width: 1021px;
    height: 53px;
    border-bottom: 1px solid #666666;
    box-sizing: border-box;
    padding-top: 30px;
    padding-left: 1px;
    margin-left: 185px;
}

.list-box h3{
    width: 115px;
    height: 16px;
    /* border: 1px solid #666666; */
    display: inline-block;
    font-size: 16px;
   
}

.list-box a{
    font-size: 16px;
    color: #666;
    font-weight: 100;
}

/* 晒单 */
.sun{
    height: 106px;
}

.sun .container{
    height: 106px;
    width: 1200px;
}

.sun-box{
    float: left;
    height: 106px;
    width: 1018px;
    border: 1px solid green;
    margin-left: 186px;
}

.sun-box .sun-left{
    float: left;
    width: 100px;
    height: 100px;
    /* border: 1px solid green; */
    box-sizing: border-box;
    padding-top: 30px;
}


.sun-box .sun-left img{
    width: 25px;
    height: 25px;
    border: none;
    float: left;
}

.sun-box .sun-left span{
    display: inline-block;
    width: 58px;
    height: 25px;
    /* border: 1px solid green; */
    padding-top: 7px;
    box-sizing: border-box;
    padding-left: 5px;
}

.sun-box .sun-left div{
    margin-top: 5px;
    margin-left: 1px;
}

.sun-box .sun-right{
    float: left;
    width: 916px;
    height: 100px;
    /* border: 1px solid green; */
}

.sun-box .sun-right .sun-right-up{
    width: 914px;
    height: 30px;
    /* border: 1px solid goldenrod; */
}

.sun-box .sun-right .sun-right-up img{
    margin-top: 10px;
    margin-left: 24px;
}



.sun-box .sun-right .sun-right-up a{
    margin-left: 555px;
    /* margin-top: -47px; */
    position: relative;
    top: -4px;
}
.sun-box .sun-right .sun-right-up div{
    float: right;
    margin-top: 15px;
}

.sun-box .sun-right .sun-right-up span{
    position: relative;
    top: -4px;
}

.sun-right .sun-right-center{
    width: 916px;
    height: 14px;
    /* border: 1px solid green; */
    box-sizing: border-box;
    padding-left: 24px;
}

.sun-right .sun-right-down{
    margin-left: 15px;
    margin-top: 10px;
}

.sun-right .and{
    margin-left: 5px;
}

/* 晒单二 */
.sun{
    height: 106px;
}

.sun .container{
    height: 106px;
    width: 1200px;
}

.sun-box{
    float: left;
    height: 106px;
    width: 1018px;
    border: 1px solid green;
    margin-left: 186px;
}