.clearfix:before,
.clearfix:after{
    content: "";
    display: table;
}

.clearfix:after{
    clear: both;
}

.clearfix{
    *zoom: 1;
}

/* 版心 */
.container {
    position: relative;
    margin: 0 auto;
    width: 1000px;
}